<article class="p-3 border border-dark rounded-3">
  <header class="d-flex align-items-center gap-3">
    <div
      class="rounded yourWallet__headerIcon--container d-flex align-items-center justify-content-center text-primary bg-opacity-10 bg-primary"
    >
      <i
        class="material-icons-outlined fs-4"
        title="{{ 'YOUR_WALLET.ALT_ICON_WALLET' | translate }}"
        >insert_chart</i
      >
    </div>
    <div>
      <p class="m-0 font-monospace text-light fs-6">
        {{ "YOUR_WALLET.TITLE" | translate }}
      </p>
      <small>{{ "YOUR_WALLET.SUBTITLE" | translate }}</small>
    </div>
  </header>
  <p
    class="mb-0 py-2 fs-4 border-bottom border-dark text-white font-monospace mt-1"
  >
    R$ 1.252,36
  </p>

  <div class="my-2 d-flex align-items-center justify-content-between fs-6">
    <small>{{ "YOUR_WALLET.MY_WALLET" | translate }}</small>
    <div class="d-flex align-items-center gap-3">
      <small class="text-light">R$ 1.252,36</small>
      <small
        class="text-success d-flex justify-content-center align-items-center gap-1 rounded p-1 background-green-opacity"
      >
        <i
          class="material-icons fs-6"
          title="{{ 'YOUR_WALLET.ALT_ICON_ARROW' | translate }}"
          >arrow_upward</i
        >
        1,22%
      </small>
    </div>
  </div>
  <button
    class="btn border border-dark rounded-pill hover-bg-dark text-primary d-flex justify-content-center align-items-end gap-1 w-100 fs-6 mt-3"
    type="button"
  >
    <i
      class="material-icons-outlined text-primary fs-5"
      title="{{ 'YOUR_WALLET.ALT_ICON_PLUS' | translate }}"
      >add</i
    >
    {{ "YOUR_WALLET.NEW_WALLET" | translate }}
  </button>
</article>
