@import "../../../styles/variables";

.onHigh__actionCode_container {
  width: 3.4375rem;
  height: 1.25rem;
}

.onHigh__actionCodePercentage_container {
  width: 4.375rem;
  height: 1.875rem;
}

.onHigh__actionCodeFollow_hover {
  color: rgba($color: $white, $alpha: 0.15);

  div {
    display: none;
    left: -1rem;
    top: 2.1875rem;
    z-index: 1;
  }
}

.onHigh__actionCodeFollow_hover:hover {
  color: $blue !important;
  cursor: pointer;

  div {
    display: flex;
  }
}

.onHigh__list--hover:hover {
  background-color: rgba(3, 3, 5, 0.1);
  cursor: pointer;
}
