<article
  class="d-flex justify-content-center align-items-center p-4 hero w-100"
>
  <section class="container-lg p-0">
    <nav>
      <div
        class="nav nav-tabs border-0 justify-content-center gap-2 mb-4"
        id="nav-tab"
        role="tablist"
      >
        <a
          class="font-monospace fs-6 fw-medium text-light py-1 px-3 text-decoration-none rounded-pill active"
          id="nav-eua-tab"
          data-bs-target="#nav-eua"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="nav-eua"
          aria-selected="true"
        >
          Estados Unidos
        </a>
        <a
          class="font-monospace fs-6 fw-medium text-light py-1 px-3 text-decoration-none rounded-pill"
          id="nav-europe-tab"
          data-bs-target="#nav-europe"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="nav-europe"
          aria-selected="false"
        >
          Europa
        </a>
        <a
          class="font-monospace fs-6 fw-medium text-light py-1 px-3 text-decoration-none rounded-pill"
          id="nav-asia-tab"
          data-bs-target="#nav-asia"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="nav-asia"
          aria-selected="false"
        >
          Ásia
        </a>
        <a
          class="font-monospace fs-6 fw-medium text-light py-1 px-3 text-decoration-none rounded-pill"
          id="nav-coin-tab"
          data-bs-target="#nav-coin"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="nav-coin"
          aria-selected="false"
        >
          Moedas
        </a>
        <a
          class="font-monospace fs-6 fw-medium text-light py-1 px-3 text-decoration-none rounded-pill"
          id="nav-crypto-tab"
          data-bs-target="#nav-crypto"
          data-bs-toggle="tab"
          type="button"
          role="tab"
          aria-controls="nav-crypto"
          aria-selected="false"
        >
          Criptomoedas
        </a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-eua"
        role="tabpanel"
        aria-labelledby="nav-eua-tab"
      >
        <ul
          class="list-unstyled row row-cols-1 row-cols-sm-2 row-cols-lg-5 justify-content-center g-2"
        >
          <li>
            <div
              class="rounded-2 border border-dark p-1 d-flex justify-content-between gap-2 bg-body"
            >
              <div class="d-flex align-items-start gap-2">
                <div
                  class="wh-tab-bg-icon d-flex justify-content-center m-0 mt-1 align-items-center p-0 rounded-3 text-success wh-tab-bg-icon-green"
                >
                  <i class="material-icons fs-5">arrow_upward</i>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-light">Dow Jones</small>
                  <small class="fs-6">35.405,24</small>
                </div>
              </div>
              <div class="d-flex flex-column text-success text-end">
                <small class="fs-6">+0,78%</small>
                <small class="fs-6">+273,38</small>
              </div>
            </div>
          </li>
          <li>
            <div
              class="rounded-2 border border-dark p-1 d-flex justify-content-between gap-2 bg-body"
            >
              <div class="d-flex align-items-start gap-2">
                <div
                  class="wh-tab-bg-icon d-flex justify-content-center m-0 mt-1 align-items-center p-0 rounded-3 text-success wh-tab-bg-icon-green"
                >
                  <i class="material-icons fs-5">arrow_upward</i>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-light">S&P 500</small>
                  <small class="fs-6">4.546,54</small>
                </div>
              </div>
              <div class="d-flex flex-column text-success text-end">
                <small class="fs-6">+0,69%</small>
                <small class="fs-6">+30,99</small>
              </div>
            </div>
          </li>
          <li>
            <div
              class="rounded-2 border border-dark p-1 d-flex justify-content-between gap-2 bg-body"
            >
              <div class="d-flex align-items-start gap-2">
                <div
                  class="wh-tab-bg-icon d-flex justify-content-center m-0 mt-1 align-items-center p-0 rounded-3 text-success wh-tab-bg-icon-green"
                >
                  <i class="material-icons fs-5">arrow_upward</i>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-light">Nasdaq</small>
                  <small class="fs-6">14.346,00</small>
                </div>
              </div>
              <div class="d-flex flex-column text-success text-end">
                <small class="fs-6">+0,75%</small>
                <small class="fs-6">+106,12</small>
              </div>
            </div>
          </li>
          <li>
            <div
              class="rounded-2 border border-dark p-1 d-flex justify-content-between gap-2 bg-body"
            >
              <div class="d-flex align-items-start gap-2">
                <div
                  class="wh-tab-bg-icon d-flex justify-content-center m-0 mt-1 align-items-center p-0 rounded-3 text-success wh-tab-bg-icon-green"
                >
                  <i class="material-icons fs-5">arrow_upward</i>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-light">Russell 2000</small>
                  <small class="fs-6">2.050,74</small>
                </div>
              </div>
              <div class="d-flex flex-column text-success text-end">
                <small class="fs-6">+1,10%</small>
                <small class="fs-6">+22,29</small>
              </div>
            </div>
          </li>
          <li>
            <div
              class="rounded-2 border border-dark p-1 d-flex justify-content-between gap-2 bg-body"
            >
              <div class="d-flex align-items-start gap-2">
                <div
                  class="wh-tab-bg-icon d-flex justify-content-center m-0 mt-1 align-items-center p-0 rounded-3 text-danger wh-tab-bg-icon-danger"
                >
                  <i class="material-icons fs-5">arrow_downward</i>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-light">VIX</small>
                  <small class="fs-6">21,96</small>
                </div>
              </div>
              <div class="d-flex flex-column text-danger text-end">
                <small class="fs-6">-11,56%</small>
                <small class="fs-6">-2,87</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="nav-europe"
        role="tabpanel"
        aria-labelledby="nav-europe-tab"
      >
        Funcionou
      </div>
      <div
        class="tab-pane fade"
        id="nav-asia"
        role="tabpanel"
        aria-labelledby="nav-asia-tab"
      >
        A Tab
      </div>
      <div
        class="tab-pane fade"
        id="nav-coin"
        role="tabpanel"
        aria-labelledby="nav-coin-tab"
      >
        De novo
      </div>
      <div
        class="tab-pane fade"
        id="nav-crypto"
        role="tabpanel"
        aria-labelledby="nav-crypto-tab"
      >
        E de novo
      </div>
    </div>
    <div class="mx-auto col-12 cols-sm-8 col-lg-6 col-xxl-5 position-relative">
      <input
        type="text"
        class="form-control rounded-pill py-3 px-5 border-dark"
        placeholder="Pesquisar ações, ETFs e outros para comparar"
      />
      <i class="material-icons m-3 position-absolute start-0 top-0">search</i>
    </div>
  </section>
</article>
