@import "../../../styles/variables";

.hero {
  background: url("../../../assets/img/bg-google-dark.svg") no-repeat center
    center;
  background-size: cover;
}

.nav a.active {
  color: var(--color-blue-3) !important;
  background-color: rgba($color: $dark, $alpha: 0.4);
}

.wh-tab-bg-icon {
  width: 2.1875rem;
  height: 2.1875rem;
}

.wh-tab-bg-icon-green {
  background-color: #12554d30;
}

.wh-tab-bg-icon-danger {
  background-color: #c9312e20;
}
