<article class="px-3 pt-3 border border-dark rounded-3">
  <header class="pb-2">
    <p class="m-0 font-monospace text-light fs-6">
      {{ "FOLLOWED.TITLE" | translate }}
    </p>
  </header>
  <ul class="list-unstyled m-0">
    <li
      class="d-flex justify-content-between align-items-center py-3 border-top border-dark gap-3"
      *ngFor="let followed of followedList; let i = index"
    >
      <article class="d-flex flex-column">
        <small
          class="fs-7 d-flex justify-content-center align-items-center rounded text-white text-uppercase m-0 followed__code--width bg-success"
          [ngClass]="{
            'bg-success': followed.code === 'PETR4',
            'bg-primary': followed.code === 'ITSA4',
            'bg-indigo': followed.code === 'BBAS3',
            'bg-blue-3': followed.code === 'MGLU3',
            'bg-yellow-1': followed.code === 'VALE3'
          }"
          >{{ followed.code }}</small
        >
        <small class="fs-6 mt-1 text-light">{{ followed.name }}</small>
        <small class="fs-7">{{ followed.followers }}</small>
      </article>
      <div class="d-flex align-items-center gap-3">
        <small
          class="d-flex justify-content-center align-items-center rounded followed__percentage--width background-green-opacity text-success"
          >{{ followed.percentage }}</small
        >
        <small class="p-1 follow--hover position-relative">
          <i
            class="bi bi-check-circle-fill fs-5 d-flex"
            title="{{ 'FOLLOWED.ALT_ICON_CHECK' | translate }}"
            (click)="active(i)"
            id="f{{ i }}"
          ></i>
          <div
            class="rounded py-1 px-2 text-body text-center position-absolute bg-body border border-dark shadow"
          >
            <small class="fs-7" id="f-{{ i }}">{{
              "ONHIGH.TXT_FOLLOW" | translate
            }}</small>
          </div>
        </small>
      </div>
    </li>
  </ul>
</article>
