html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $font-family-sans-serif;
}

.fw-medium {
  font-weight: var(--text-medium);
}

.fs-7 {
  font-size: 0.75rem !important;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.transform-rotate {
  transform: rotate(180deg);
}

.hover-bg-gray:hover {
  background-color: rgba($color: $white, $alpha: 0.1);
}

.hover-bg-dark:hover {
  background-color: rgba($color: $dark, $alpha: 0.3);
}

.toast-success-dark {
  background-color: var(--color-dark-2) !important;
  box-shadow: none !important;
  border: 0.0625rem solid $dark;
}

.toast-container .ngx-toastr {
  padding: 0.9375rem !important;
  width: 20rem !important;
  display: flex !important;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.9375rem;
}

.toast-progress {
  background-color: $green !important;
  opacity: 0.8 !important;
}

.background-green-opacity {
  background-color: #12554d30;
}

.background-danger-opacity {
  background-color: #c9312e20;
}

.bg-red-1 {
  background: var(--color-red-2);
}

.bg-blue-3 {
  background: var(--color-blue-3);
}

.bg-blue-2 {
  background: var(--color-blue-2);
}

.bg-green-1 {
  background: var(--color-green-1);
}

.bg-green-3 {
  background: var(--color-green-3);
}
