<section class="w-100 px-4 py-5 mt-4 bg-dark-2">
  <div class="container-lg p-0">
    <header class="mb-4">
      <p class="mb-2 fs-5 text-light font-mosnospace">Saiba mais</p>
      <div class="d-flex align-items-center gap-1 text-light text-opacity-75">
        <small>Talvez você se interesse por</small>
        <i class="material-icons-outlined fs-6">info</i>
      </div>
    </header>
    <swiper
      [slidesPerView]="1"
      [spaceBetween]="10"
      [navigation]="true"
      [breakpoints]="{
        '@0.00': {
          slidesPerView: 2.1,
          spaceBetween: 10
        },
        '@0.75': {
          slidesPerView: 3.1,
          spaceBetween: 10
        },
        '@1.00': {
          slidesPerView: 4.1,
          spaceBetween: 10
        },
        '@1.50': {
          slidesPerView: 6.1,
          spaceBetween: 10
        }
      }"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let search of interestList">
        <a
          [routerLink]="['/']"
          class="border border-dark bg-body rounded-3 p-2_5 d-flex flex-column justify-content-between text-decoration-none w-100 search__card--height search__card--hover"
        >
          <div>
            <small
              class="fs-7 d-flex justify-content-center align-items-center rounded text-white text-uppercase search__code--width mb-1"
              [ngClass]="{
                'bg-blue-1': search.code === 'GRND3' || search.code === 'UGPA3',
                'bg-dark':
                  search.code === 'USIM5' ||
                  search.code === 'FLRY3' ||
                  search.code === 'ODPV3' ||
                  search.code === 'ÍNDICE',
                'bg-green-3': search.code === 'CMIG4',
                'bg-yellow-2': search.code === 'BRFS3',
                'bg-green-1': search.code === 'ELET3',
                'bg-blue-2':
                  search.code === 'GGBR4' ||
                  search.code === 'GOAU4' ||
                  search.code === 'ITUB4' ||
                  search.code === 'WEGE3',
                'bg-danger': search.code === 'CCRO3',
                'bg-green-2': search.code === 'PETR4',
                'bg-secondary': search.code === 'EMBR3',
                'bg-red-1': search.code === 'BBDC4',
                'bg-yellow-1': search.code === 'VALE3'
              }"
              >{{ search.code }}</small
            >
            <small class="text-light text-opacity-75 fw-medium">{{
              search.name
            }}</small>
          </div>
          <div class="d-flex justify-content-between align-items-end">
            <div>
              <p class="mb-1 text-white">{{ search.value }}</p>
              <small
                class="d-flex justify-content-center align-items-center rounded search__percentage--width background-green-opacity text-success"
                >{{ search.percentage }}</small
              >
            </div>
            <small class="p-1 search__follow--hover position-relative">
              <i class="material-icons fs-4 d-flex">add_circle_outline</i>
              <div
                class="rounded py-1 px-2 text-body text-center position-absolute bg-body border border-dark shadow"
              >
                <small class="fs-7">Seguindo</small>
              </div>
            </small>
          </div>
        </a>
      </ng-template>
    </swiper>
  </div>
</section>
