<footer
  class="mt-4 pt-4 border-top border-dark d-flex align-items-center gap-3 gap-sm-4 flex-wrap"
>
  <a class="p-2" [routerLink]="['/']">
    <img
      src="./assets/img/google-white.svg"
      class="d-block footer__logo--width"
      alt="Logo dark google"
    />
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    Ajuda
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    Enviar feedback
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    Privacidade
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    Termos
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    Exoneração de responsabilidade
  </a>
</footer>
