<footer
  class="mt-4 pt-4 border-top border-dark d-flex align-items-center gap-3 gap-sm-4 flex-wrap"
>
  <a class="p-2" [routerLink]="['/']">
    <img
      src="./assets/img/google-white.svg"
      class="d-block footer__logo--width"
      alt="{{ 'FOOTER.ALT_LOGO' | translate }}"
    />
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    {{ "FOOTER.ITEM1" | translate }}
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    {{ "FOOTER.ITEM2" | translate }}
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    {{ "FOOTER.ITEM3" | translate }}
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    {{ "FOOTER.ITEM4" | translate }}
  </a>
  <a
    class="text-decoration-none p-2 text-light text-opacity-75"
    [routerLink]="['/']"
  >
    {{ "FOOTER.ITEM5" | translate }}
  </a>
</footer>
